@import url(https://fonts.googleapis.com/css?family=Poppins);

    *,
    *:before,
    *:after {
      box-sizing: border-box;
    }

    html, body {
      background: #f1f1f1;
      font-family: 'Poppins', sans-serif;
      padding: 1em;
    }

    h1 {
      text-align: center;
      color: #a8a8a8;
      text-shadow: 1px 1px 0 rgba(255, 255, 255, 1);
    }

    form {
      max-width: 600px;
      margin: 20px auto;
    }

    input, textarea {
      border: 0;
      outline: 0;
      padding: 1em;
      border-radius: 12px;
      display: block;
      width: 92%;
      margin-top: 1em;
      font-family: 'Poppins', sans-serif;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      resize: none;
    }

    input:focus, textarea:focus {
      box-shadow: 0 0px 2px rgba(19, 132, 150, 1)!important;
    }

    #input-submit:hover {
      box-shadow: 0 1px 1px 1px rgba(163, 163, 163, 0.6);
    }

    textarea {
      height: 126px;
    }

    .half {
      float: left;
      width: 48%;
      margin-bottom: 1em;
    }

    .right {
      width: 50%;
    }

    .left {
      margin-right: 2%;
    }

    @media (max-width: 480px) {
      .half {
        width: 100%;
        float: none;
        margin-bottom: 0;
      }
    }

    /* Clearfix */
    .cf:before,
    .cf:after {
      content: " ";
      display: table;
    }

    .cf:after {
      clear: both;
    }

    .fonds {
      color: #a8a8a8;
      font-size: small;
      border-top-width: 10px;
    }

    .button-container {
      display: flex;
      align-items: center;
      margin-top: 10px;
      margin-left: 57%;
    }

    #input-submit {
      color: white;
      background: #138496;
      cursor: pointer;
      border-radius: 12px;
      width: 100px;
      height: 40px;
      border: #138496;
    }

    .discard {
      color: rgb(0, 0, 0);
      background: #ffffff;
      cursor: pointer;
      border-radius: 12px;
      width: 100px;
      height: 40px;
      border: 0px;
      margin-right: 10px;
    }
    #input-category{
      border: 0;
      outline: 0;
      padding: 1em;
      border-radius: 12px;
      background: #ffffff;
      display: block;
      color:#797979;
      width: 92%;
      margin-top: 1em;
      font-family: 'Poppins', sans-serif;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      resize: none;
    }
    #input-qualification{
      border: 0;
      outline: 0;
      padding: 1em;
      border-radius: 12px;
      background: #ffffff;
      display: block;
      color:#797979;
      width: 92%;
      margin-top: 1em;
      font-family: 'Poppins', sans-serif;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      resize: none;

    }
    #input-type{
      border: 0;
      outline: 0;
      padding: 1em;
      border-radius: 12px;
      background: #ffffff;
      display: block;
      color:#797979;
      width: 92%;
      margin-top: 1em;
      font-family: 'Poppins', sans-serif;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      resize: none;
    }
    #selectedTemplate {
        width: 100px; /* Adjust the width as needed */
    }

    img {
      max-width: 60%;
      max-height: 25%;
      display: block; /* To center the image horizontally */
      margin: 0 auto; /* To center the image horizontally */
      border: none; /* Use 'border' instead of 'border-style' */
      border-radius: 6px;
    }

    input, textarea {
      border: 0;
      outline: 0;
      padding: 1em;
      border-radius: 12px;
      display: block;
      width: 92%;
      margin-top: 1em;
      font-family: 'Poppins', sans-serif;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      resize: none;
    }


    .form-control {
      display: block;
      width: 100%;
      height: calc(1.5em + 0.75rem + 2px);
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #4C5A67;
      background-color: #F4F5F6;
      background-clip: padding-box;
      border: 1px solid #F4F5F6;
      border-radius: 0.375rem;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    form {
      max-width: initial;
      margin: 20px auto;
    }

    @media (min-width: 1200px) {
      .col-xl-6 {
          flex: 0 0 50%;
          max-width: 100%;
        }
    }
    * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
        }

        .star-wrapper {
         background-color:#F4F5F6;
        }

        .star-wrapper a {
          color: #fff;
          text-decoration: none;
          transition: all 0.5s;
          margin: 4px;
        }

        .star-wrapper a:hover {
          color: gold;
          transform: scale(1.3);
        }

        .input{
          background-color: #F4F5F6;
        }
        .mult-select-tag .item-container{
          background: white;
        }
