{% extends "templates/base.html" %}

{%- block content -%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<div style="padding-left:25px; padding-top:10px;">
  <a href="/jobs" style="color: blue; text-decoration: none; display: flex; align-items: center;">
    <div style="width: 50px; height: 25px; display: flex; justify-content: center; align-items: center;">
      <i class="fas fa-arrow-left" style="color: black; font-size: 24px;"></i>
    </div>
  </a>
</div>
<div class="container-outer">
  <div class="container job-details-container" style="width:75%">
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex justify-content-between align-items-center">
          <h4 style="color: black; flex: 1; margin: auto;margin-bottom: 20px;">{{ jobs.job_title }}</h4>
          <div class="apply-button">
            {%- if "Alumni" in context.roles -%}
                <a href="/edit_job?job_id={{ jobs.name }}" class="btn btn-success">Edit Job</a>
            {%- else -%}
                {%- if "Alumni" not in context.roles -%}
                    {%- if frappe.db.exists("Job Interest", {"job": jobs.name, "member": member}) -%}
                        <label style="color: green;">&#10003; Applied</label>
                    {%- else -%}
                        <button class="btn" id="interestButton" onclick="create_job_interest()">Apply Now</button>
                    {%- endif -%}
                {%- endif -%}
            {%- endif -%}
        </div>


        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p><i class="fas fa-briefcase"></i> Job ID: <span style="color: red;">{{ jobs.name }}</span></p>
        <p><i class="fas fa-map-marker-alt"></i>  Location: {{ jobs.location }} </p>
        {%- if jobs.salary_info -%}
        <p><i class="fas fa-money-bill"></i> Salary: {{ jobs.salary_info }} </p>
        {%- endif -%}
        <p><i class="fas fa-briefcase"></i> Job type: {{ jobs.job_type }} </p>
        {%- if jobs.start_date -%}
        <p><i class="far fa-calendar-alt"></i> Published date: {{ jobs.get_formatted("start_date") }} </p>
        {%- endif -%}
        <p><i class="fas fa-calendar-day"></i> Last date to apply: {{ jobs.get_formatted("last_date_to_apply") }} </p>
        {% if jobs.job_details %}
        <p><i class="fas fa-file"></i> <a href="{{ jobs.job_details }}">Job Details</a></p>
        {% endif %}
      </div>
      <div class="col-md-6">
        <p style="margin-top: 1rem; font-size:17px;"><i class="fas fa-folder"></i> Job Category: {{ jobs.job_category }}</p>
        <p><i class="fas fa-graduation-cap"></i> Qualification: {{ jobs.qualification }} </p>
        <p><i class="fas fa-globe"></i> Organization Website: <a href="https://{{ jobs.organization_website }}" target="_blank">{{ jobs.organization_website }}</a> </p>
        <p><i class="fas fa-building"></i> Organization Type: {{ jobs.organization_type }} </p>
        {% if jobs.job_details %}<p><i class="fas fa-file"></i> <a href="{{ jobs.job_details }}">Job Details</a></p>{% endif %}
      </div>
    </div>
    <hr>
    <p style="text-align: justify; line-height: 1.7"><i class="fas fa-file-alt"></i> {{ jobs.job_description }}</p>
    <p><span style="font-weight: bold;">Published by: {{owner}}, {{jobs.organization_name}}</span></p>
  </div>
</div>
<style>
/* Custom CSS for styling the container */
.container-outer {
  padding: 15px 50px 50px 50px;
}
.job-details-container {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  font-size: 18px;
}
.apply-button {
  text-align: center;
  margin-top: 20px;
}
.btn {
  background-color: green;
  color: white;
  padding: 5px 5px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}
.btn:hover {
  background-color: green;
}
/* Style for the icons */
.fas, .far {
  margin-right: 5px; /* Add spacing to the right of icons */
}
p {
  line-height: initial;
  font-size: medium;
}
.job-details-container {
  background-color: #CDF5FD26;
  border: 0;
  box-shadow: 0px 10px 20px #c2c2c229,
              0px 0px 30px #aaaaaa29;
}
@media (min-width: 768px) {
  .job-details-container {
    width: 75%;
  }
}
</style>
<script>
function create_job_interest() {
  // Create a new entry in the "Job Interest" DocType
  frappe.call({
    method: 'fosa_connect.fosa_connect.utils.create_job_interest_entry',
    args: {
      job_id: "{{ jobs.name }}",
      student_id: frappe.session.user,
    },
    callback: function(response) {
      location.reload();
    }
  });
}
</script>
<script src="/job.js"></script>
{%- endblock -%}
