:root {
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #D9D9D9;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-primary-100: #003EB3;
  --dl-color-primary-300: #0074F0;
  --dl-color-primary-500: #14A9FF;
  --dl-color-primary-700: #85DCFF;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-size-size-maxwidth: 1400px;
  --dl-radius-radius-round: 50%;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-threeunits: 48px;
  --dl-space-space-oneandhalfunits: 24px;
}

button {
  outline:none !important;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
  border: 1px solid #e2e6e9;
  max-width: fit-content;
  vertical-align: middle;
}

.table thead th{
  vertical-align: middle;
  border-bottom: 2px solid #E2E6E9;
  font-size: 16px;
}

.table td {
  padding: 8px;
}

.career-history th:nth-child(1),
.career-history td:nth-child(1) {
  min-width: 164px;
}
.career-history th:nth-child(2),
.career-history td:nth-child(2) {
  min-width: 140px;
}
.career-history th:nth-child(3),
.career-history td:nth-child(3) {
  min-width: 164px;
}
.career-history th:nth-child(4),
.career-history td:nth-child(4) {
  min-width: 210px;
}
.career-history th:nth-child(5),
.career-history td:nth-child(5) {
  min-width: 160px;
}
.career-history th:nth-child(6),
.career-history td:nth-child(6) {
  min-width: 160px;
}
.career-history th:nth-child(7),
.career-history td:nth-child(7) {
  min-width: 75px;
}
.career-history td:nth-child(7) {
  text-align: center;
}
.career-history td:nth-child(7) .table-input{
  vertical-align: middle;
}
.career-history th:nth-child(8),
.career-history td:nth-child(8) {
  min-width: 70px;
  width:70px;
}

.education th:nth-child(1),
.education td:nth-child(1) {
  min-width: 150px;
}
.education th:nth-child(2),
.education td:nth-child(2) {
  min-width: 150px;
}
.education th:nth-child(3),
.education td:nth-child(3) {
  min-width: 150px;

}
.education th:nth-child(4),
.education td:nth-child(4) {
  min-width: 113px;
  max-width: 130px;
}
.education th:nth-child(5),
.education td:nth-child(5)  {
  min-width: 104px;
  max-width: 124px;
}
.education th:nth-child(6),
.education td:nth-child(6){
  min-width: 70px;
  max-width: 70px;
  width:70px;
}

.projects th:nth-child(1),
.projects td:nth-child(1) {
  min-width: 150px;
  max-width: 150px;
}
.projects th:nth-child(2),
.projects td:nth-child(2) {
  min-width: 250px;
}
.projects th:nth-child(3),
.projects td:nth-child(3) {
  min-width: 150px;
  max-width: 150px;
}
.projects th:nth-child(4),
.projects td:nth-child(4) {
  min-width: 165px;
  max-width: 165px;
}
.projects th:nth-child(5),
.projects td:nth-child(5){
  min-width: 70px;
  max-width: 70px;
  width:70px;
}

.publications th:nth-child(1),
.publications td:nth-child(1) {
  min-width: 170px;
  max-width: 170px;
}
.publications th:nth-child(2),
.publications td:nth-child(2) {
  min-width: 250px;
}
.publications th:nth-child(3),
.publications td:nth-child(3) {
  min-width: 160px;
  max-width: 160px;
  width: 160px;
}
.publications th:nth-child(4),
.publications td:nth-child(4){
  min-width: 70px;
  max-width: 70px;
  width:70px;
}

.references th:nth-child(1),
.references td:nth-child(1) {
  min-width: 170px;
  max-width: 170px;
}
.references th:nth-child(2),
.references td:nth-child(2) {
  min-width: 180px;
}
.references th:nth-child(3),
.references td:nth-child(3) {
  min-width: 190px;
  max-width: 190px;
}
.references th:nth-child(4),
.references td:nth-child(4){
  min-width: 170px;
  max-width: 170px;
}
.references th:nth-child(5),
.references td:nth-child(5){
  min-width: 70px;
  max-width: 70px;
  width:70px;
}

.technical-skills th:nth-child(1),
.technical-skills td:nth-child(1) {
  min-width: 180px;
  max-width: 180px;
}
.technical-skills th:nth-child(2),
.technical-skills td:nth-child(2) {
  min-width: 180px;
  max-width: 180px;
  width: 180px;
}
.technical-skills td:nth-child(2) {
  text-align: center;
}
.technical-skills th:nth-child(3),
.technical-skills td:nth-child(3) {
  min-width: 70px;
  max-width: 70px;
  width: 70px;
}

.soft-skills th:nth-child(1),
.soft-skills td:nth-child(1) {
  min-width: 180px;
  max-width: 180px;
}
.soft-skills th:nth-child(2),
.soft-skills td:nth-child(2) {
  min-width: 180px;
  max-width: 180px;
  width: 180px;
}
.soft-skills td:nth-child(2) {
  text-align: center;
}
.soft-skills th:nth-child(3),
.soft-skills td:nth-child(3) {
  min-width: 70px;
  max-width: 70px;
  width: 70px;
}

.language-proficiency th:nth-child(1),
.language-proficiency td:nth-child(1) {
  min-width: 170px;
  max-width: 170px;
}
.language-proficiency th:nth-child(2),
.language-proficiency td:nth-child(2) {
  min-width: 80px;
  max-width: 80px;
  width: 80px;
}
.language-proficiency td:nth-child(2) {
  text-align: center;
}
.language-proficiency td:nth-child(2) .table-input{
  vertical-align: middle;
}
.language-proficiency th:nth-child(3),
.language-proficiency td:nth-child(3) {
  min-width: 80px;
  max-width: 80px;
  width: 80px;
}
.language-proficiency td:nth-child(3) {
  text-align: center;
}
.language-proficiency td:nth-child(3) .table-input{
  vertical-align: middle;
}
.language-proficiency th:nth-child(4),
.language-proficiency td:nth-child(4) {
  min-width: 80px;
  max-width: 80px;
  width: 80px;
}
.language-proficiency td:nth-child(4) {
  text-align: center;
}
.language-proficiency td:nth-child(4) .table-input{
  vertical-align: middle;
}
.language-proficiency th:nth-child(5),
.language-proficiency td:nth-child(5) {
  min-width: 70px;
  max-width: 70px;
  width: 70px;
}

.add-row {
  padding: 4px 10px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  box-shadow: 0px 10px 20px #c2c2c229, 0px 0px 30px #aaaaaa29;
  border-radius: 4px;
}
.input {
  color: var(--dl-color-gray-black);
  border: initial;
  cursor: auto;
  height: 40px;
  padding: 0.5rem 1rem;
  min-width: var(--dl-size-size-xxlarge);
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #edf1f6;
  width:288px;
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  font-size: 15px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
  transform: none !important;
}
.line {
  flex: 0 0 auto;
  width: 100%;
  border: 1px solid #e7eaf0;
  height: auto;
  display: flex;
  align-items: flex-start;
  transition: rgba(92, 179, 245, 0.72) 0.3s ease;
}
.blue-line {
  border: 1px solid rgba(92, 179, 245, 0.72);
  transition: #e7eaf0 0.3s ease;;
}
.nav-text {
  color: rgba(0, 0, 0, 0.74);
  width: auto;
  margin: auto;
  font-size: 16px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 300;
}
.label-text {
  color: rgba(0, 0, 0, 0.74);
  font-size: 15px;
}
.input-column {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.input-row {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.input-label {
  color: rgba(0, 0, 0, 0.74);
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
}
.input-fields {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.address {
  min-width: 400px;
}
.input-group {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 0 0 auto;
  width: 82.1%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  margin-top: var(--dl-space-space-oneandhalfunits);
  justify-content: flex-start;
}
.star-wrapper {
  background-color:#D9E7F6;
 }

 .star-wrapper a {
   color: #fff;
   text-decoration: none;
   transition: all 0.5s;
   margin: 4px;
 }

 .star-wrapper a:hover {
   color: gold;
   transform: scale(1.3);
 }
.table {
  overflow-x: auto;
  scroll-behavior: smooth;
}

.table-input {
  width: 100%;
}

.Content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.Heading {
  font-size: 40px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}

@media(max-width: 1600px) {
  .input-group {
    width: 76.4vw;
  }
}
@media(max-width: 1200px) {
  .input-group {
    width: 92vw;
  }
}
@media(max-width: 991px) {
  .input-column {
    max-width: 50%;
    padding-right: 12px;
  }
  .input-group {
    max-width: 100%;
  }
}
@media(max-width: 767px) {
  .input{
    width: 58vw;
  }
  .input-column {
    padding: initial;
    max-width: initial;
    align-items: flex-start;
  }
  .input-fields {
    width: 80%;
  }
  .input-group {
    width: 80%;
  }
}
@media(max-width: 479px) {
  .input-fields {
    width: 100%;
  }
  .address {
    min-width: initial;
  }
}
