{% set dept_doc = frappe.get_all('Program',fields=["program_name"]) %}
<form class="signup-form signup-form-fosa" role="form" id="signup-form">
    <div class="page-card-body">
        <div class="form-group">
            <select
                class="form-control"
                id="member_type"
                name="member_type"
                required
                style="width: 99%; padding: 7px; border: none; border-radius: 4px;text-align: center;"
            >
                <option value="" id="nullOption">Select Member Type</option>
                <option value="Student">Student</option>
                <option value="Alumni">Alumni</option>
            </select>
        </div>
        <div id="General_fields">
            <div class="form-group">
                <label class="form-label sr-only" for="signup_firstname">{{ _("First Name") }}</label>
                <input
                    type="text"
                    id="signup_firstname"
                    class="form-control"
                    placeholder="{{ _('First Name') }}"
                    required
                    autofocus
                >
            </div>
            <div class="form-group">
                <label class="form-label sr-only" for="signup_lastname">{{ _("Last Name") }}</label>
                <input
                    type="text"
                    id="signup_lastname"
                    class="form-control"
                    placeholder="{{ _('Last Name') }}"
                    required
                    autofocus
                >
            </div>
            <div class="form-group">
                <label class="form-label sr-only" for="signup_email">{{ _("Email") }}</label>
                <input
                    type="email"
                    id="signup_email"
                    class="form-control"
                    placeholder="{{ _('Email') }}"
                    required
                >
            </div>
            <div class="form-group">
                <label class="form-label sr-only" for="phone_number">{{ _("Phone Number") }}</label>
                <input
                    type="text"
                    id="phone_number"
                    class="form-control"
                    placeholder="{{ _('Phone Number') }}"
                    required
                >
            </div>
        </div>
        <div id="Student_fields">
            <div class="form-group">
                <label class="form-label sr-only" for="admission_number">{{ _("Admission Number") }}</label>
                <input
                    type="text"
                    id="admission_number"
                    class="form-control"
                    placeholder="{{ _('Admission Number') }}"
                    required
                >
            </div>
            <div class="form-group">
                <label class="form-label sr-only" for="year_of_admission">{{ _("Year of Admission") }}</label>
                <input
                    type="text"
                    id="year_of_admission"
                    class="form-control"
                    placeholder="{{ _('Year of Admission') }}"
                    required
                >
            </div>
            <div class="form-group">
                <label class="form-label sr-only" for="department"></label>
                <select
                    id="department-select"
                    name="department"
                    class="form-control"
                    style="background-color: var(--control-bg);"
                    required
                >
                    <option value="">Select Department</option>
                    {%- for department in dept_doc -%}
                    <option value="{{ department.program_name }}">{{ department.program_name }}</option>
                    {%- endfor -%}
                </select>
            </div>
        </div>
        <div id="Alumni_fields">
            <div class="form-group">
                <label class="form-label sr-only" for="year_of_passing">{{ _("Year of Passing") }}</label>
                <input
                    type="text"
                    id="year_of_passing"
                    class="form-control"
                    placeholder="{{ _('Year of Passing') }}"
                    required
                >
            </div>
            <div class="form-group">
                <label class="form-label sr-only" for="job_title">{{ _("Job Title") }}</label>
                <input
                    type="text"
                    id="job_title"
                    class="form-control"
                    placeholder="{{ _('Job Title') }}"
                    required
                >
            </div>
            <div class="form-group">
                <label class="form-label sr-only" for="designation">{{ _("Designation") }}</label>
                <input
                    type="text"
                    id="designation"
                    class="form-control"
                    placeholder="{{ _('Designation') }}"
                    required
                >
            </div>
        </div>
    </div>
    <div class="page-card-actions">
        <button class="btn btn-sm btn-primary btn-block btn-signup" type="submit" id="signupBtn">{{ _("Sign up") }}</button>
        <p class="text-center sign-up-message">
            <a href="#login" class="blue">{{ _("Have an account? Login") }}</a>
        </p>
    </div>
</form>
<script>
    frappe.ready(function () {
        $("#signupBtn").click(function(e){
          signup_fosa_connect(e);
        });
    });

    const signup_fosa_connect = (e) => {
        e.preventDefault();
        let memberType = $("#member_type").val();
        if(memberType==""){
          frappe.throw("Please select Member Type!")
        }
        else {
          let email = ($("#signup_email").val() || "").trim();
          let first_name = frappe.utils.xss_sanitise($("#signup_firstname").val() || "").trim();
          let last_name = frappe.utils.xss_sanitise($("#signup_lastname").val() || "").trim();
          let full_name = (first_name + ' ' + last_name).trim();
          let admission_number = frappe.utils.xss_sanitise($("#admission_number").val() || "").trim();
          let year_of_admission = frappe.utils.xss_sanitise($("#year_of_admission").val() || "").trim();
          let department = frappe.utils.xss_sanitise($("#department-select").val() || "").trim();
          let year_of_passing = frappe.utils.xss_sanitise($("#year_of_passing").val() || "").trim();
          let job_title = frappe.utils.xss_sanitise($("#job_title").val() || "").trim();
          let designation = frappe.utils.xss_sanitise($("#designation").val() || "").trim();

          frappe.call({
              method: "fosa_connect.fosa_connect.overrides.sign_up",
              freeze: true,
              freeze_message: "Signing up. Please wait...",
              args: {
                  "email": email,
                  "first_name": first_name,
                  "last_name": last_name,
                  "full_name": full_name,
                  "year_of_passing": year_of_passing,
                  "job_title": job_title,
                  "designation": designation,
                  "member_type": memberType,
                  "admission_number": admission_number,
                  "year_of_admission": year_of_admission,
                  "department": department
              },
              statusCode: login.login_handlers,
          });
        }
        return false;
    }

    document.getElementById("nullOption").selected = true;
    document.getElementById('General_fields').style.display = 'none';
    document.getElementById('Student_fields').style.display = 'none';
    document.getElementById('Alumni_fields').style.display = 'none';

    document.getElementById('member_type').addEventListener('change', function() {
    if (this.value === 'Student') {
      document.getElementById('General_fields').style.display = 'block';
      document.getElementById('Student_fields').style.display = 'block';
      document.getElementById('Alumni_fields').style.display = 'none';
      document.getElementById('year_of_passing').value = '';
      document.getElementById('job_title').value = '';
      document.getElementById('designation').value = '';
    } else if (this.value === 'Alumni') {
      document.getElementById('General_fields').style.display = 'block';
      document.getElementById('Student_fields').style.display = 'none';
      document.getElementById('Alumni_fields').style.display = 'block';
      document.getElementById('admission_number').value = '';
      document.getElementById('year_of_admission').value = '';
      document.getElementById('department-select').value = '';
    } else {
      document.getElementById('signup_firstname').value = '';
      document.getElementById('signup_lastname').value = '';
      document.getElementById('signup_email').value = '';
      document.getElementById('phone_number').value = '';
      document.getElementById('admission_number').value = '';
      document.getElementById('year_of_admission').value = '';
      document.getElementById('department-select').value = '';
      document.getElementById('year_of_passing').value = '';
      document.getElementById('job_title').value = '';
      document.getElementById('designation').value = '';
      document.getElementById('General_fields').style.display = 'none';
      document.getElementById('Student_fields').style.display = 'none';
      document.getElementById('Alumni_fields').style.display = 'none';
    }
  });
</script>
